<section class="bg-primary" id="introduce">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Certification</h2>
                <hr class="light">
                <p class="text-faded">Engineer Information Processing</p>
                <p class="text-faded">Engineer Big Data Analysis</p>
                <p class="text-faded">SQL Developer Certification - SQLD</p>
                <a href="#services" class="btn btn-default btn-xl">Let's Go</a>
            </div>
        </div>
    </div>
</section>
